.how-to-buy {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #4CB050;
    margin-bottom: 20px;
    background-image: url("https://media.discordapp.net/attachments/1104739615564374158/1104748746836820088/Background.png?width=2182&height=1228");
    background-repeat: no-repeat;
    background-size: cover;
}

.how-to-buy h1 {
    font-size: 42px;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    width: 60%;
}

.buy-step {
    padding: 20px;
    background-color: #1f5221;
    border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}