.container {
  background-color: #363A45;
  width: 100%;
  height: 100vh;
  background-image: url("https://media.discordapp.net/attachments/1104739615564374158/1104748746836820088/Background.png?width=2182&height=1228");
  background-repeat: no-repeat;
  background-size: cover;
}